{% extends "base.html" %}
{% block title %}Бронирования{% endblock title %}
{% block content %}
    {% if reservations %}
        <ul class="reservation-list">
            {% for reservation in reservations %}
                <li class="reservation-item">
                    <div>
                        {% if reservation.slot %}
                            {{ reservation.slot.place.get_type_display }} – {{ reservation.slot.place.name }}<br>
                            {{ reservation.slot.place.coworking.city.name }}, {{ reservation.slot.place.coworking.address }}<br>
                            {{ reservation.slot.time_start|date:"d.m.Y H:i" }} – {{ reservation.slot.time_end|date:"H:i" }}<br>
                        {% else %}
                            <em>Слот больше недоступен</em><br>
                        {% endif %}
                        Статус: <span class="badge badge--{{ reservation.status }}">{{ reservation.get_status_display }}</span><br>
                        Количество человек: {{ reservation.amount_people }}
                    </div>
                    <div>
                        {% if reservation.status not in 'cancelled declined completed' %}
                            <form action="{% url 'reservation:cancel' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" value="{{ reservation.id }}" name="reservation_id">
                                <button type="submit" class="btn btn-danger">Отменить</button>
                            </form>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="empty-message">У вас пока нет бронирований.</p>
    {% endif %}
{% endblock content %}