{% extends "base.html" %}
{% block title %}Контакты{% endblock title %}
{% block content %}
    <div class="tech-support">
        <p>Номера технической поддержки:</p>
        <ul>
            <li>+7-900-167-23-45</li>
            <li>+7-983-254-12-23</li>
            <li>+7-800-555-35-35</li>
        </ul>
    </div>
    <div class="address">
        <p>Мы находимся по следующим адресам:</p>
        <ul>
            <li>190515, г. Санкт-Петербург, ул. Березовая, 6, оф. 4</li>
            <li>420421, г. Казань, ул. Интернациональная, 23, оф. 28</li>
            <li>443788, г. Самара, ул. Коммунистическая, 9, оф. 74</li>
        </ul>
    </div>
{% endblock content %}